.wrapper {
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  text-decoration: none;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.wrapper:focus {
  transform: translateY(0%);
}
