.housing__taglist {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 10px;
  list-style: none;
}

.taglist__item {
  display: grid;
  min-width: 80px;
  min-height: 20px;
  padding: 5px 15px;
  margin: 0;
  background-color: #ff6060;
  border-radius: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  place-content: center;
  text-align: center;
}

@media screen and (min-width: 860px) {
  .taglist__item {
    font-size: 14px;
    line-height: 20px;
  }
}
