.wrapper {
  align-content: start;
  align-items: start;
  display: grid;
  grid-template-areas:
    'carousel carousel'
    'title title'
    'location location'
    'tags tags'
    'rating host'
    'description description'
    'equipments equipments';
  justify-content: stretch;
  justify-items: start;
}

.carousel {
  grid-area: carousel;
  justify-self: stretch;
}

.title {
  font-size: 18px;
  font-weight: 500;
  grid-area: title;
  line-height: 26px;
  margin: 15px 0 0;
}

.location {
  font-size: 14px;
  font-weight: 500;
  grid-area: location;
  line-height: 20px;
  margin: 5px 0 0;
}

.taglist {
  grid-area: tags;
  margin: 10px 0 0;
}

.rating {
  align-self: center;
  border: 0;
  display: flex;
  flex-direction: row;
  grid-area: rating;
  margin: 15px 0;
  padding: 0;
}

.host {
  align-self: center;
  grid-area: host;
  justify-self: end;
}

.accordion {
  justify-self: stretch;
}

.description {
  grid-area: description;
}

.equipments {
  grid-area: equipments;
}

.equipments__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 800px) {
  .wrapper {
    grid-template-areas:
      'carousel carousel carousel carousel'
      'title title title host'
      'location location location host'
      'tags tags tags rating'
      'description description equipments equipments';
    grid-template-columns: repeat(4, 1fr);
  }

  .title {
    font-size: 36px;
    line-height: 51px;
  }

  .location {
    font-size: 18px;
    line-height: 26px;
  }

  .taglist {
    align-self: center;
  }

  .rating {
    justify-self: end;
  }

  .host {
    align-self: start;
    margin-top: 24px;
  }

  .description {
    margin-right: 35px;
  }

  .equipments {
    margin-left: 35px;
  }
}
