.wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1240px) {
  .wrapper {
    background-color: hsla(0, 0%, 0%, 0.036);
    border-radius: 25px;
    color: hsl(0, 0%, 96%);
    gap: 55px;
    grid-template-columns: repeat(3, 1fr);
    padding: 55px;
  }
}
