.card__link:link,
.card__link:visited {
  display: grid;
  overflow: hidden;
  height: 255px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color: hsl(var(--color-white));
  grid-template-areas: 'card-stack';
  text-decoration: none;
}

.card__link::before {
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0) 0%,
    hsla(0, 0%, 0%, 0.5) 100%
  );
  content: '';
  grid-area: card-stack;
}

.card__text {
  align-self: flex-end;
  padding: 15px 20px;
  font-size: 18px;
  grid-area: card-stack;
  justify-self: flex-start;
  line-height: 26px;
}
