.hero {
  --padding-inline: 32px;
  --padding-block: 16px;
  --min-height: 111px;

  position: relative;
  display: grid;
  overflow: hidden;
  width: 100%;
  min-height: var(--min-height);
  padding: var(--padding-block) var(--padding-inline);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}

.hero::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-blend-mode: darken;
  background-color: hsla(var(--color-black) / 0.3);
  content: '';
}

.hero-text {
  position: relative;
  align-self: center;
  padding: 0;
  margin: 0;
  color: hsl(var(--color-white));
  font-size: 24px;
  font-weight: 500;
  justify-self: flex-start;
  line-height: 24px;
}

@media screen and (min-width: 800px) {
  .hero {
    --padding-inline: 32px;
    --padding-block: 50px;
    --min-height: 223px;
  }

  .hero-text {
    font-size: 48px;
    justify-self: center;
    line-height: 1.5;
  }
}
