.hero {
  position: relative;
  display: grid;
  overflow: hidden;
  width: 100%;
  height: 111px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  grid-template-areas: 'hero-stack';
}

.hero::before {
  align-self: stretch;
  background-blend-mode: darken;
  background-color: hsla(0, 0%, 0%, 0.3);
  content: '';
  grid-area: hero-stack;
  justify-self: stretch;
}

.hero-text {
  align-self: center;
  padding: 12px 32px;
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  grid-area: hero-stack;
  justify-self: flex-start;
  line-height: 24px;
}
