.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.8);
}

.spinner {
  animation: pulse 0.6s linear 0.3s infinite normal forwards;
  font-size: 4rem;
}

@keyframes pulse {
  0% {
    color: hsla(0, 0%, 100%, 1);
  }
  50% {
    color: hsla(0, 0%, 100%, 0.1);
  }
  100% {
    color: hsla(0, 0%, 100%, 1);
  }
}
