.primary-nav {
  display: flex;
  gap: 10px;
}

.primary-nav__link:link,
.primary-nav__link:visited {
  color: hsla(0, 100%, 69%, 1);
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.primary-nav__link:hover,
.primary-nav__link:active,
.primary-nav__link.active {
  text-decoration: underline;
}

@media screen and (min-width: 860px) {
  .primary-nav {
    gap: 50px;
  }
  .primary-nav__link:link,
  .primary-nav__link:visited {
    font-size: 24px;
  }
}
