.wrapper {
  display: flex;
  gap: 10px;
}

.link:link,
.link:visited {
  color: #ff6161;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover,
.link:active,
.link.active {
  text-decoration: underline;
}

.link:focus-visible {
  background-color: #ff6161;
  color: #fff;
  outline: 2px solid #ff6161;
  outline-offset: 4px;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .wrapper {
    gap: 50px;
  }

  .link:link,
  .link:visited {
    font-size: 24px;
  }
}
