.wrapper {
  align-items: center;
  display: flex;
  gap: 10px;
}

.name {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
  margin: 0;
  text-align: right;
}

.photo {
  border-radius: 32px;
  height: 32px;
  object-fit: cover;
  width: 32px;
}

@media screen and (min-width: 800px) {
  .name {
    font-size: 18px;
    line-height: 26px;
  }

  .photo {
    border-radius: 64px;
    height: 64px;
    width: 64px;
  }
}
