.carousel {
  position: relative;
  display: grid;
  align-content: stretch;
  align-items: stretch;
  justify-content: stretch;
  grid-template-areas: 'carousel-stack';
  justify-items: stretch;
}

.carousel__item {
  align-self: stretch;
  grid-area: carousel-stack;
}

.carousel__btn {
  z-index: 10;
  align-self: center;
  border: none;
  background: none;
  grid-area: carousel-stack;
}

.carousel__item:only-of-type ~ .carousel__btn {
  display: none !important;
}

.carousel__btn-prev {
  justify-self: start;
}

.carousel__btn-next {
  justify-self: end;
}

.carousel__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
