.carousel {
  position: relative;
  display: grid;
  align-content: stretch;
  align-items: stretch;
  justify-content: stretch;
  grid-template-areas: 'carousel-stack';
  justify-items: stretch;
}

.carousel__btn {
  z-index: 10;
  align-self: center;
  border: none;
  background: none;
  grid-area: carousel-stack;
}

.carousel__btn-prev {
  justify-self: start;
}

.carousel__btn-next {
  justify-self: end;
}

.carousel__item {
  align-self: stretch;
  grid-area: carousel-stack;
}

.carousel__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DEFAULT THEME */
.carousel--default .carousel__btn {
  padding: 15px;
}

.carousel--default .carousel__btn:focus-visible {
  background-color: hsl(var(--color-primary));
}

.carousel--default .carousel__btn::after {
  display: block;
  width: 20px;
  height: 20px;
  border-top: 3px solid hsl(var(--color-white));
  border-right: 3px solid hsl(var(--color-white));
  content: '';
  transform-origin: center;
  transition: transform 0.3s;
}

.carousel--default .carousel__btn-prev::after {
  transform: rotate(225deg);
}

.carousel--default .carousel__btn-next::after {
  transform: rotate(45deg);
}

.carousel--default .carousel__btn__text {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
}

.carousel--default .carousel__item {
  overflow: hidden;
  height: 255px;
  border-radius: 10px;
}

@media screen and (min-width: 860px) {
  .carousel--default .carousel__item {
    height: 415px;
  }
}
