.wrapper {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 209px;
  justify-content: space-between;
  margin-top: 1.25rem;
  padding: 66px 0 30px;
}

.copyright {
  margin: 0;
  text-align: center;
}
