.footer {
  display: grid;
  width: 100%;
  height: 209px;
  background-color: hsl(var(--color-black));
  color: hsl(var(--color-white));
  place-content: center;
}

.footer .logo {
  margin: 0 auto 20px;
}

.copyright {
  margin: 0;
}
