:root {
  --color-primary: 0 100% 69%; /* #ff6161 */
  --color-white: 0 0% 100%;
  --color-black: 0 0% 0%;

  --max-width: 1240px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: hsl(var(--color-primary));
  font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

/* ACCESSIBILITY */
a:focus-visible,
button:focus-visible {
  background-color: hsl(var(--color-primary));
  color: hsl(var(--color-white));
  outline: 2px solid hsl(var(--color-primary));
  outline-offset: 4px;
}

/* UTILITIES */
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
}

/* GENERAL LAYOUT */
html,
body,
#root,
.app {
  height: 100%; /* for the sticky footer trick */
}
.app {
  display: flex; /* for the sticky footer trick */
  flex-direction: column; /* for the sticky footer trick */
}

.header {
  max-width: var(--max-width);
  flex-shrink: 0; /* for the sticky footer trick */
  margin: 20px auto;
}

.main {
  width: 100%;
  max-width: var(--max-width);
  flex-grow: 1; /* for the sticky footer trick */
  padding: 0 20px;
  margin: 0 auto;
}

.hero {
  margin-bottom: 20px;
}

.footer {
  flex-shrink: 0; /* for the sticky footer trick */
  margin-top: 20px;
}

/* ACCORDION LAYOUT */

.accordion {
  margin-top: 20px;
}

@media screen and (min-width: 800px) {
  .about__page .accordion {
    margin-right: 100px;
    margin-left: 100px;
  }
}
