*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: hsla(0, 100%, 69%, 1);
  font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

/* MAKE THE FOOTER STICK TO THE BOTTOM */
html,
body,
#root,
.app {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
}
/* END OF STICKY FOOTER */

/* MAIN */
.main {
  flex-grow: 1; /* for the sticky footer trick */
  padding: 0 20px;
}
