.rating-star__form-control {
  --star-size: 15px;
  --star-gap: 4px;

  display: grid;
  gap: var(--star-gap);
  grid-template-columns: 1em auto;
}

.rating-star__input {
  display: grid;
  width: var(--star-size);
  height: var(--star-size);
  margin: 0;
  appearance: none;
  background-image: url('../../../assets/images/staroff.svg');
  background-repeat: no-repeat;
  background-size: contain;
  place-content: center;
}

.rating__legend,
.rating__text {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
}

.rating-star__input::before {
  width: var(--star-size);
  height: var(--star-size);
  background-image: url('../../../assets/images/staron.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  opacity: 0;
}

.rating-star__input[data-visualycheck='true']::before {
  opacity: 1;
}

.rating-star__input:focus-visible {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

@media screen and (min-width: 800px) {
  .rating-star__form-control {
    --star-size: 30px;
    --star-gap: 20px;
  }
}
