.accordion__button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border: none;
  margin: 0;
  background-color: hsl(var(--color-primary));
  border-radius: 5px;
  color: hsl(var(--color-white));
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  outline: none;
}

.accordion__button:focus-visible {
  outline: 2px solid hsl(var(--color-primary));
  outline-offset: 4px;
}

.accordion__button::after {
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid hsl(var(--color-white));
  border-right: 2px solid hsl(var(--color-white));
  content: '';
  transform-origin: center;
  transition: transform 0.3s;
}

.accordion__content {
  top: -5px;
  padding: 17px 12px 5px;
  background-color: hsla(var(--color-black) / 0.03);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.accordion-open::after {
  transform: rotate(315deg);
  transition: transform 0.3s;
}

.accordion-close::after {
  transform: rotate(135deg);
  transition: transform 0.3s;
}

@media screen and (min-width: 800px) {
  .accordion__button {
    padding: 15px 20px;
    font-size: 24px;
  }

  .accordion__content {
    font-size: 24px;
    line-height: 34px;
  }
}
