.accordion__panel {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.accordion__content {
  position: relative;
  z-index: -1;
}

.accordion-open + .accordion__panel {
  max-height: 100vh;
  transition: max-height 0.3s;
}

.accordion-open + .accordion__panel > * {
  opacity: 1;
  transition: opacity 0.2s;
}

.accordion-close + .accordion__panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
}

.accordion-close + .accordion__panel > * {
  opacity: 0;
  transition: opacity 0.2s;
}

/** DEFAULT THEME */
.accordion--default .accordion__button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border: none;
  margin: 0;
  background-color: hsl(var(--color-primary));
  border-radius: 5px;
  color: hsl(var(--color-white));
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  outline: none;
}

.accordion--default .accordion__button::after {
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid hsl(var(--color-white));
  border-right: 2px solid hsl(var(--color-white));
  content: '';
  transform-origin: center;
  transition: transform 0.3s;
}

.accordion--default .accordion__content {
  top: -5px;
  padding: 17px 12px 5px;
  background-color: hsla(var(--color-black) / 0.03);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}

.accordion--default .accordion__title {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
}

.accordion--default .accordion-open::after {
  transform: rotate(315deg);
  transition: transform 0.3s;
}

.accordion--default .accordion-close::after {
  transform: rotate(135deg);
  transition: transform 0.3s;
}

@media screen and (min-width: 860px) {
  .accordion--default .accordion__button {
    padding: 15px 20px;
    font-size: 24px;
  }

  .accordion--default .accordion__content {
    font-size: 24px;
    line-height: 34px;
  }
}
