.not-found__page {
  text-align: center;
}

.not-found__title {
  font-size: 96px;
  font-weight: 700;
}

.not-found__subtitle {
  font-size: 18px;
  font-weight: 500;
}

.not-found__link:link,
.not-found__link:visited {
  color: hsl(var(--color-primary));
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 800px) {
  .not-found__title {
    margin: 0;
    font-size: 288px;
    line-height: 411px;
  }

  .not-found__subtitle {
    font-size: 36px;
    line-height: 51px;
  }

  .not-found__link:link,
  .not-found__link:visited {
    font-size: 18px;
  }
}
